node_modules/*
package-lock.json
.DS_Store
lib/*
spec/.DS_Store
opgg/myTeam0.json
opgg/myTeam1.json
opgg/myTeam2.json
opgg/myTeam3.json
opgg/myTeam4.json
opgg/theirTeam0.json
opgg/theirTeam1.json
opgg/theirTeam2.json
opgg/theirTeam3.json
opgg/theirTeam4.json
opgg/matchup0.json
opgg/matchup1.json
opgg/matchup2.json
opgg/matchup3.json
opgg/matchup4.json
mongo/credentials.txt
